body {
    background-color: lightgray;
    margin: 0 40px;
}

.navbar {
    background-color: green;
    height: 55px;
    width: auto;
    margin-bottom: 20px;
    text-align: center;
}

nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 0 25px;
}

#search {
    height: 40%;
    width: 45%;
    float: none;
}

#profile {
    margin: 0 25px;
}

.right {
    float: right;
    width: 37%;
    background-color: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar > .video-card {
    margin-bottom: 10px;
    display: flex;
}

.thumbnail {
    width: 50%;
    height: 100%;
}

.left {
    height: 100%;
    width: 60%;
    float: left;
}

.video-player {
    float: left;
    background-color: greenyellow;
    height: 480px;
    width: 100%;
    margin-bottom: 20px;
}

.video-info {
    background-color: yellow;
    height: 100px;
    width: 100%;
    float: left;
}

.description {
    background-color: orange;
    height: 200px;
    width: 100%;
    float: left;
}